<header class="header z-depth-4" fxLayoutAlign="center center">
  <div class="container border" fxFlex="75%" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="title-container">
      <h1 class="roadcast mat-h1" [routerLink]="'/'">Roadcast</h1>
    </div>
    <div class="button-container">
      <button mat-icon-button class="menu-button" (click)="toggleMenu()">
        <mat-icon svgIcon="menu" class="button-icon"></mat-icon>
      </button>
    </div>
  </div>
</header>

<header class="dummy-header-for-height"></header>

<div class="overlay hidden" (click)="toggleMenu()">
  <div class="popover z-depth-2" (click)="$event.stopPropagation()">
    <div class="content">

      <ng-container *ngIf="!isLoggedIn; else loggedIn">
        <h3 class="mat-h3">
          Log in...
        </h3>

        <mat-form-field>
          <input matInput placeholder="Email..." [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [formControl]="password"
                 placeholder="Wachtwoord..." [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div mat-dialog-actions fxLayoutAlign="end center">
          <button mat-button (click)="onNoClick()">Cancel</button>
          <button mat-flat-button class="z-depth-1" (click)="login()">Login</button>
        </div>
      </ng-container>

      <ng-template #loggedIn>
        <h3 class="mat-h3">
          Ingelogd als
        </h3>
        <h4 class="mat-h4">{{user.email}}</h4>

        <div fxLayoutAlign="end center">
          <button mat-flat-button class="z-depth-1" (click)="auth.logout()">Log uit</button>
        </div>
        <br/>

        <div class="border"></div>

        <button mat-button [routerLink]="'/nieuw'" (click)="toggleMenu()">Nieuwe post aanmaken</button>

      </ng-template>

    </div>
  </div>
</div>
