@import './../../../shared/variables.scss';

.post-container {

  @media only screen and('min-width: 600px') {
    padding-top: 10vw;
  }

  .select-post-button {
    color: $main-black;
    background-color: $secondary-grey;
    margin: 0 2rem;

    .mat-icon {
      transform: scale(1.2);
    }

    &:disabled {
      opacity: 0.4
    }
  }

  .post-card {
    width: 250px;
    height: 250px;

    .mat-card-content {
      height: 100%;

      .episode-button {
        margin: 0 auto;
      }
    }

    .mat-flat-button {
      color: $main-white;
      background-color: $accent-blue;
      padding: 0 2rem;
    }

  }

  .content-preview {
    overflow-wrap: break-word !important;
    display: inline-block;
    word-break: break-word;
  }
}


