<section fxLayoutAlign="center">

  <mat-card class="z-depth-2 add-post-card">
    <mat-card-content>
      <mat-card-title fxLayoutAlign="space-between">
        <h2 class="mat-h2">Nieuwe post toevoegen</h2>
        <h4 class="mat-h4 datum">{{post.date | date}}</h4>
      </mat-card-title>

      <div class="post-gegevens-invoer">
        <form class="post-form" fxLayout="column">
          <div fxLayoutAlign="stretch" fxLayoutGap="16px">
            <mat-form-field fxFlex class="author">
              <mat-label>Auteur</mat-label>
              <input matInput placeholder="Jakkie" [(ngModel)]="post.author" name="author">
            </mat-form-field>

            <mat-form-field fxFlex class="episode">
              <mat-label>Episode</mat-label>
              <input matInput placeholder="E00" [(ngModel)]="post.episode" name="episode">
            </mat-form-field>
          </div>

          <mat-form-field class="title">
            <mat-label>Titel</mat-label>
            <input matInput placeholder="Sicke bus, ouwe!" [(ngModel)]="post.title" name="title">
          </mat-form-field>
        </form>
      </div>

      <ckeditor class="editor" [editor]="editor" (ready)="onReady($event)" [(ngModel)]="post.content"></ckeditor>

    </mat-card-content>

    <button [disabled]="isUploading" mat-flat-button class="z-depth-1" (click)="addPost()">Plaats nieuwe blog</button>
  </mat-card>

</section>
