<section class="post-section">

  <div class="blog-header" fxLayout="row" fxLayoutAlign="none center">

  <button mat-icon-button class="back-button" (click)="navigateBack()">
    <mat-icon svgIcon="chevron-left" class="button-icon"></mat-icon>
  </button>

    <div class="blog-header-title" fxLayout="row" fxLayoutAlign="none center">
      <span class="episode">{{post?.episode}}</span>
      -
      <span class="date">{{post?.title}}</span>
    </div>

  </div>

  <article class="blog">

  <button mat-flat-button class="podcast-button z-depth-1" (click)="play()">Luister podcast</button>

    <div class="content"
    [innerHTML]="post?.content | safe: 'html'">
    </div>

  </article>
</section>
