<section class="post-section">

  <div class="blog-header">

    <div fxLayoutAlign="space-between" fxLayout="row">
      <div fxLayout="row">
        <button mat-icon-button class="back-button" [routerLink]="['/']" [queryParams]="{post: postId}">
          <mat-icon svgIcon="chevron-left" class="button-icon"></mat-icon>
        </button>

        <div class="blog-header-title" fxLayout="row" fxLayoutAlign="none center">
          <span class="episode">{{(post | async)?.episode}}</span>
          -
          <span class="date">{{(post | async)?.title}}</span>
        </div>
      </div>

      <button *ngIf="auth.isAdmin | async" mat-icon-button [routerLink]="['/nieuw', postId]">
        <mat-icon svgIcon="circle-edit-outline"></mat-icon>
      </button>
    </div>

  </div>

  <article class="blog">

    <button *ngIf="(post | async)?.podcastUrl" mat-flat-button class="podcast-button z-depth-1" (click)="play()">Luister podcast</button>

    <ckeditor class="editor" [disabled]="true" [config]="{ toolbar: [] }" [editor]="viewer"
              [(ngModel)]="content"></ckeditor>

  </article>

</section>
